
## -----------------------------------------------------------------------------
## IMPORTANT: In accordance with YunoHost's spirit, please keep things simple and 
## do not overwhelm the admin with tons of misunderstandable or advanced settings.
## -----------------------------------------------------------------------------

version = "1.0"

[main]
name.en = "Main configuration"
name.fr = "Configuration principale"
services = ["__APP__"]

    [main.config]
    name.en = "Configuration options"
    name.fr = "Options de configuration"

        [main.config.registration]
        ask.en = "Enable user registration?"
        ask.fr = "Autoriser l’inscription d’utilisateurs ?"
        type = "boolean"
        bind = "WT_REGISTRATION_DISABLED:/var/www/__APP__/.env"